body {
  display: flex;
  flex-direction: column;
  font: roboto;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  padding: 0.5em;
}

.header-title {
  display: flex;
  color: #f9faf8;
  font-weight: 900;
  align-items: center;
  padding-left: 200px;
}
.header-title a{
  font-size: 25px;
}

.hero {
  display: flex;
  background-color: #1f2937;
  padding: 45px;
  justify-content: space-between;
}

.left-text {
  padding-left: 160px;
}

.left-text h1 {
  margin: 0;
}
.left-text .title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.left-text .description {
  font-size: 18px;
  color: #e5e7eb;
}

.right-image img {
  display: flex;
  padding: 1em;
  max-width: 450px;
  max-height: 450px;
  width: auto;
  height: auto;
  padding-right: 165px;
}

.sign-up button {
  padding: 10px 40px;
  border-radius: 0.8em;
  color: #e5e7eb;
  background-color: #3882f6;
  font-size: 15px;
  font-weight: 800;
  margin-top: 1em;
}

.container-upper {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.upper-body {
  display: block;
  /* justify-content: center; */
  /* align-items: center; */
}

.info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 900;
}
.info-images {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.info-image {
  display: flex;
  padding: 5px;
  border: 3px solid #3882f6;
  border-radius: 20px;
}
.info-image img {
  display: flex;
  max-width: 350px;
  max-height: 250px;
  border-radius: 15px;
  width: auto;
  height: auto;
}
.info-images-descriptions {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}
.info-description {
  width: 150px;
  margin: 0 0 120px 0;
}

.container-mid-body {
  display: flex;
  background-color: #e5e7eb;
  justify-content: center;
  padding: 70px;
}

.mid-body .quote p {
  width: 900px;
  font-size: 35px;
  font-weight: lighter;
  color: #1f2937;
}

.quote .credits p {
  text-align: right;
  font-weight: 800;
  font-size: 30px;
}

.container-lower-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-signup {
  display: flex;
  gap: 250px;
  margin: 100px;
  padding: 45px 200px;
  background-color: #3882f6;
  border-radius: 10px;
}

.container-signup .title-lower {
  color: #e5e7eb;
}

.title-lower h2 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.button-lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-lower button {
  font-size: larger;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 10px 45px;
  border-radius: 10px;
  border: 3px solid #e5e7eb;
}

.footer {
  display: flex;
  padding: 40px;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
}

.footer .text {
  color: #e5e7eb;
  font-size: 20px;
}
ul {
  display: flex;
  gap: 1.5em;
  list-style: none;
  padding-right: 200px;
}

a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}
